body {
    background: linear-gradient(90deg, #0c0c0c, #111618);

    color: white;

    font-family: 'Roboto', sans-serif;
}

.container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.container > * {
    margin: 10px;
    box-sizing: border-box;
    
}

input {
    color: white;
    height: 30px;
    width: 200px;
    font-size: 16px;
    
    padding: 10px;

    background-color: rgba(255, 255, 255, 0.1);

    border: none;

    border-radius: 5px;
}

input:focus {
    outline: none;
}


select {
    color: white;
    height: 30px;
    width: 200px;
    font-size: 16px;

    background-color: rgba(255, 255, 255, 0.1);

    border: none;

    border-radius: 5px;
}

select:focus {
    outline: none;
}

option {
    background-color: #111618;
    color: rgb(150, 174, 255);
}

option:hover {
    background-color: #111618;
    
}

button {
    color: white;
    height: 30px;
    width: 200px;
    font-size: 16px;

    background-color: rgba(255, 255, 255, 0.1);

    border: none;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

button:focus {
    outline: none;
}

button:active {
    background-color: rgba(255, 255, 255, 0.3);
}
