body {
    font-family: sans-serif;
  }
  
.container {
    margin: 20px auto;
    width: 300px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}
  
p {
    display: block;
    margin-bottom: 5px;
}
  
input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
  
#result {
    margin-top: 15px;
    font-weight: bold;
}
  