
body {
    font-family: Arial, sans-serif;
    background-color: #e9f5ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    

}

.task button:hover {
    background-color: #ff3333;
}

.task button:active {
    background-color: #ff1a1a;
}

.task li {
    list-style: none;
}

input {
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;

    transition: all 0.2s;
}

input:hover {
    transform: scale(1.01);
}

input:focus {
    outline:none;
    transform: scale(1.03);
}




button {
    background-color: #4d79ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;

    transition: all 0.2s;
}

button:hover {
    background-color: #4d4dff;
}

button:active {
    background-color: #3131ff;
}