

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 500px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body {
  background: linear-gradient(135deg, #000, #1a1a1a);
  
  height: 100vh;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #0061fe;
  font-size: 40px;
  
  text-shadow: 0 0 30px rgba(0, 97, 254, 1);
}

p {
  text-align: center;
  font-size: 19px;
  margin: 0;
}

input, textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 400px;
  padding: 12px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  background: #222;
  color: #e0e0e0;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  display: block;

  resize: none;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
}

input:focus, textarea:focus {
  background: #333;
  box-shadow: 0 0 10px rgba(0, 97, 254, 0.7);
  outline: none;
}

button {
  background-color: #0072ec;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  transition: all 0.3s;
}

button:hover {
  background-color: #005cbf;
}

button:active {
  background-color: #003d47;
}

#entries {
  margin-top: 20px;
}

.entry {
  background: #333;
  border-radius: 5px;
  margin: 10px auto;
  transition: all 0.3s;
  max-width: 500px;

  height: max-content;
}

.entry:hover {
  background: #444;
}

.name {
  text-align: left;
  font-weight: bold;
  color: #0061fe;
  font-size: 16px;
  margin: 0;
  padding-left: 5px;
  padding-top: 5px;
  
  text-shadow: 0 0 10px rgba(0, 97, 254, 0.5);
}

.message {
  text-align: left;
  font-size: 16px;
  margin-top: 0;
  padding-top: 0;
  padding: 5px;
}

@media (max-width: 600px) {
  h1 {
      font-size: 32px;
  }

  button {
      width: 100%;
  }
}

.time {
  padding: 5px;
  font-size: 12px;
  color: gray;
  text-align: right;
}

.no-entries {
  color: gray;
}