/* Add cool scroll bar */
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(0deg, rgb(0,0,0,0.4), rgb(255,255,255));
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}


* {
  margin: 0;
  padding: 0;
  text-shadow: 0 0 30px rgb(0,0,0,0.5);
  user-select: none;
}
  
body {
  font-family: "Montserrat";
  font-weight: normal;
  background: linear-gradient(0deg, rgb(0,0,0,0.4), rgb(255,255,255));
  color: black;
}
  

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
  
.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;

  margin-right: 100px;

  display: inline-block;
}
  
.description {
  display: inline-block;
  text-align: normal;
}
  
.description > h1 {
  margin-bottom: 5px;
}
  
  
  
.about {
  text-align: center;
  padding-bottom: 20px;
}

.contact > h1,
.projects > h1,
.about > h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 35px;
}
  
.about > p {
  font-size: 16px;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}
  
.skills > li {
  display: inline-block;

  width: 200px;

  margin: 10px;
  padding: 5px 0;
  
  background-color: rgba(255, 255, 255, 0.5);
  
  border-radius: 200px;

  color: black;

  box-shadow: 0 0 10px rgb(0,0,0,0.5);

  transition: all 0.15s;
}

.skills > li:hover {
  transform: scale(1.05);
}

.button {
  display: block;

  width: 200px;
  margin: 20px auto;
  padding: 10px 0;

  background-color: rgba(255, 255, 255, 0.5);

  

  border: 0px solid white;
  border-radius: 200px;

  box-shadow: 0 0 10px rgb(0,0,0,0.5);

  transition: all 0.15s;

  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}


.projects {
  text-align: center;

}

.projects > p {
  font-size: 16px;
  width: 70%;
  margin: auto;
}

.project {
  display: inline-block;

  background-color: rgb(0,0,0,0.2);

  border-radius: 20px;

  padding: 10px;

  width: 400px;
  height: 200px;

  text-align: left;

  margin: 20px;

  box-shadow: 0 0 10px rgb(0,0,0,0.3);
}

.project > h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project > a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.project-cards {
display: flex;
justify-content: center;
align-items: center;
}

.contact {
  text-align: center;
}

.contact > p {
  font-size: 16px;
  width: 70%;
  margin: auto;
  
}

.input {
  display: block;
  width: 300px;
  margin: 20px auto;
  padding: 10px;

  background-color: rgba(255, 255, 255, 0.5);

  border: 0px solid white;
  border-radius: 200px;

  box-shadow: 0 0 10px rgb(0,0,0,0.5);

  transition: all 0.15s;
}

.input:hover {
  transform: scale(1.01);
}

.input:focus {
  outline: none;
  transform: scale(1.05);
}


.message {
  display: block;
  width: 300px;
  height: 150px;
  margin: 20px auto;
  padding: 10px;

  background-color: rgba(255, 255, 255, 0.5);

  border: 0px solid white;
  border-radius: 20px;

  box-shadow: 0 0 10px rgb(0,0,0,0.5);

  transition: all 0.15s;

  resize: none;

  font-family: Arial, Helvetica, sans-serif;
}

.message:hover {
  transform: scale(1.01);
}

.message:focus {
  outline: none;
  transform: scale(1.05);
}

.link {
  color: rgb(47, 96, 255);
  text-shadow: 0 0 20px rgb(47, 96, 255);
  text-decoration: none;
}

.big-text {
  font-size: 40px;
}

/* Add width cap (865px)*/

@media screen and (max-width: 865px) {
  
  * > * {
    display: none;
  }
  

}

.footer {
  color: white;
  text-align: center;
  padding: 20px;
}

.highlight {
  color: rgb(72, 72, 255);
  text-shadow: 0 0 20px rgb(72, 72, 255);
}
