body {
    font-family: "Montserrat";
    font-weight: normal;
    background: linear-gradient(0deg, rgb(0,0,0, 0.9), rgb(0, 0, 0));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 35px;
    font-weight: bold;
}


.description {
    font-weight: normal;
    margin: 10px 0;
}

.pfp {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 100px;

    box-shadow: 0 0 100px rgba(255, 255, 255, 0.2);
}

.text {
    display: inline-block;
    font-size: 20px;
}



.list-item {
    font-weight: normal;
}