body {
    font-family: Arial, sans-serif;
    background-color: Gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: White;
    padding: 30px;
    border-radius: 15px;
    
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    border: 1px solid LightGrey;
  }
  
  h1 {
    text-align: center;
    color: DimGray;
    margin-bottom: 20px;
  }
  
  textarea {
    width: 90%;
    height: 120px;
    
    padding: 15px;
    margin-top: 15px;
    
    border-radius: 10px;
    border: 1px solid LightSteelBlue;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  
    transition: all 0.2s;
  }
  
  textarea:hover {
    transform: scale(1.02);
  }
  
  textarea:focus {
    outline: none;
    transform: scale(1.05);
  }
  
  
  .results {
    margin-top: 25px;
  }
  
  .results p {
    margin: 10px 0;
    color: DimGray;
    
    padding: 10px;
    background-color: AliceBlue;
    border: 1px solid LightSteelBlue;
    border-radius: 5px;
  
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  
    transition: all 0.2s;
  }
  
  .results p:hover {
    transform: scale(1.03);
  }